/*tags*/

header {
	width: 100vw;
	height: 78px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 10%;
    box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	flex-shrink: 0;
	background: #FFFFFF;
	border: none;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
}

section {
	display: flex;
}



/*classes-all*/

.logo {
	cursor: pointer;
	margin-right: auto;
}

.menu {
	width: 350px;
	color: #2F281E;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 150% */
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
}

.menu li {
	display: inline-block;
}

.menu a {
	color: #2F281E;
	text-decoration: none;
}

.customers {
	padding-left: 10px;
}

.pricing {
	padding: 10px;
}

.btn__navbar {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 32px; /* 200% */
	letter-spacing: 0.32px;
	width: 102px;
	height: 46px;
	border-radius: 4px;
	margin: 10px;
	cursor: pointer;
}

.btn__navbar:hover {
	border: 1px solid #FFFFFF;

}

.signin-btn {
	color: #173A56;
	border: solid;
	border-color: #BCD0E5;
	margin-left: 20px;
}

.signup-btn {
	color: #FFFFFF;
	background: #FF9900;
	border: none;
}

.first-section {
	height: 496px;
	width: 1512px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
    top: 50px;
    bottom: 50px;
}

.first-section__left {
	width: 518px;
}

.first-section__right {
	width: 605px;
}

.main-title {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 44px;
	font-style: normal;
	font-weight: 600;
}

.main-info {
 	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 200;
}

.btn__getstarted {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 32px; /* 200% */
	letter-spacing: 0.32px;
	width: 175px;
	height: 53px;
	border-radius: 4px;
	cursor: pointer;
	background: #FF9900;
	color: #FFFFFF;
	border: none;
	margin: 20px;
}

.btn__getstarted:hover {
 	border: 1px solid #FFFFFF;
}

.btn-link {
	display: flex;
	justify-content: flex-start;
    align-items: center;
}

.watch-video {
	width: 350px;
	color: #FF9900;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px; /* 150% */
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
}

.watch-video li {
	display: flex;
}

.watch-video a {
	color: #FF9900;
	text-decoration: underline;
}

.watch-video ul {
	padding-inline-start: 10px;
}

.second-section {
    width: 100vw;
    height: 543px;
	background: #FFFFFF;
	border: none;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
    top: 50px;
    bottom: 50px;
}

.second-title {
	width: 539px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
}

.container {
	width: 1095px;
	height: 204px;
	background: #FFFFFF;
	border: none;
	margin: 10px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.small-section {
	width: 240px;
	height: 178px;
	background: #FFFFFF;
	border: none;
	margin: 10px;
}

.small-section__title {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 200;
}

.small-section__main {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
}

.signupnow-btn {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.32px;
	width: 175px;
	height: 53px;
	border-radius: 4px;
	margin: 10px;
	cursor: pointer;
	background: #FF9900;
	color: #FFFFFF;
	border: none;
}

.signupnow-btn:hover {
 	border: 1px solid #FFFFFF;
}

.third-section {
	height: 574px;
	width: 1110px;
	padding: 20px;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	position: relative;
    top: 50px;
    bottom: 50px;
}

.third-section__left {
	padding-right: 20px;
}

.third-title {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
}

.third-section__text {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
}

.third-section__main {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
}

.fourth-section {
	height: 574px;
	width: 1110px;
	padding: 20px;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	position: relative;
    top: 50px;
    bottom: 50px;
}

.fourth-section__left {
	padding-right: 20px;
}


.fourth-section__right {
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

.fourth-title {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	padding-left: 20px;
}

.fourth-section__text {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
	padding-left: 20px;
}

.fourth-section__main {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	padding-left: 20px;
}

.small-section__fourth {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
}

.fifth-section {
	height: 574px;
	width: 1110px;
	padding: 20px;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	position: relative;
    top: 50px;
    bottom: 50px;
}

.fifth-section__left {
	padding-right: 20px;
}

.fifth-title {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
}

.fifth-section__text {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
}

.fifth-section__main {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
}

.footer {
	width: 100vw;
	height: 308px;
	display: flex;
	justify-content: space-around;
	align-items: end;
	padding: 20px 10%;
	position: relative;
	top: 50px;
}

.footer-text {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
}

.menu-footer__first {
	display: flex;
}

.menu-footer__first li {
	display: flex;
}

.menu-footer__first a {
	color: #2F281E;
	text-decoration: none;
}

.menu-footer__second li {
	display: flex;
}

.menu-footer__second a {
	color: #2F281E;
	text-decoration: none;
}

.logo-footer {
	cursor: pointer;
	display: flex;
    justify-content: center;
    align-self: center;
}

.footer-right {
	display: flex;
	flex-direction: column-reverse;

}

.btn-footer {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 32px; /* 200% */
	letter-spacing: 0.32px;
	width: 131px;
	height: 39px;
	border-radius: 4px;
	cursor: pointer;
	background: #FF9900;
	color: #FFFFFF;
	border: none;
	margin: 10px;
}

.btn-footer:hover {
 	border: 1px solid #FFFFFF;
}

.inputfield {
	width: 325px;
	height: 48px;
	margin: 10px;
}
